@charset "utf-8";
/* CSS Document */
	
#menu {
	font-size:16px;
	font-family: Arial, sans-serif;
	font-weight:bold;
	
	}
	
#menu a {
	text-decoration:none;
	color:#fff;
	}
	
#menu ul {
	list-style:none;
	padding:0;
	margin:0;
	font-size:14px;
	}
	
#menu ul li {
	padding:5px 0 5px 10px;;
	margin:0;
	display:block;
	background:#ccc;
	width:150px;
	height:30px;
 	}
	
#menu dl dd ul li a {
	color:#333;
	}

#menu dl dd ul li a:hover {
	color:#333;
	}
	
#menu dd {
	padding:0;
	margin:0;
 	}

#menu dt {
	
	display:block;
	background:#304B73;
	width:150px;
	height:50px;
	padding: 2px 0 2px 5px;
	
	}
	